<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<real>0.9655246734619141</real>
		<real>0.9664257168769836</real>
		<real>0.9361826777458191</real>
		<real>1</real>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.1176580935716629</real>
		<real>0.1221526861190796</real>
		<real>0.159778356552124</real>
		<real>1</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.883160316780822</real>
		<real>0.7125695633561644</real>
		<real>0.4907159674657534</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.156862745</real>
		<real>0.164705882</real>
		<real>0.211764706</real>
		<real>1</real>
	</array>
	<key>EditorFlash</key>
	<array>
		<real>0.01332585234194994</real>
		<real>0.152225449681282</real>
		<real>0.1504202485084534</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>1</real>
		<real>0.643287037037037</real>
		<real>0.011</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>0.4756349325</real>
		<real>0.4756467342</real>
		<real>0.4756404161</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<real>0.8999625428082192</real>
		<real>0.8937821061643836</real>
		<real>0.7868685787671232</real>
		<real>1</real>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>0.9872317910194397</real>
		<real>0.2329826056957245</real>
		<real>0.2662559449672699</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.972549020</real>
		<real>0.972549020</real>
		<real>0.949019608</real>
		<real>1</real>
	</array>
	<key>EntryColor</key>
	<array>
		<real>1</real>
		<real>0</real>
		<real>0.06309704482555389</real>
		<real>1</real>
	</array>
	<key>FootnoteColor</key>
	<array>
		<real>0.9931013584136963</real>
		<real>0.6652525663375854</real>
		<real>0.3510050475597382</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>ImageForeground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LogBackground</key>
	<array>
		<real>0.1176580935716629</real>
		<real>0.1221526861190796</real>
		<real>0.159778356552124</real>
		<real>1</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.9655246734619141</real>
		<real>0.9664257168769836</real>
		<real>0.9361826777458191</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<real>0.1176580935716629</real>
		<real>0.1221526861190796</real>
		<real>0.159778356552124</real>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>0.9655246734619141</real>
		<real>0.9664257168769836</real>
		<real>0.9361826777458191</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>0.8821703767123288</real>
		<real>0.714228381849315</real>
		<real>0.4886023116438356</real>
		<real>0.6</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<real>0.9655246734619141</real>
		<real>0.9664257168769836</real>
		<real>0.9361826777458191</real>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.4849761128425598</real>
		<real>0.8957439661026001</real>
		<real>0.9892621040344238</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.3119781017303467</real>
		<real>0.3640799522399902</real>
		<real>0.5760171413421631</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<real>0.313725490</real>
		<real>0.980392157</real>
		<real>0.482352941</real>
		<real>1</real>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>0.9881976842880249</real>
		<real>0.3640595674514771</real>
		<real>0.7280929684638977</real>
		<real>1</real>
	</array>
	<key>SyntaxMarkerParen</key>
	<array>
		<real>0.972549020</real>
		<real>0.972549020</real>
		<real>0.949019608</real>
		<real>1</real>
	</array>
	<key>SyntaxMarkerCurly</key>
	<array>
		<real>0.972549020</real>
		<real>0.972549020</real>
		<real>0.949019608</real>
		<real>1</real>
	</array>
	<key>SyntaxMarkerSquare</key>
	<array>
		<real>0.972549020</real>
		<real>0.972549020</real>
		<real>0.949019608</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>Dracula</string>
	<key>XMLComment</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
		<real>1</real>
	</array>
	<key>XMLParameter</key>
	<array>
		<real>0</real>
		<real>1</real>
		<real>0</real>
		<real>1</real>
	</array>
	<key>XMLSpecial</key>
	<array>
		<real>0</real>
		<real>0.3</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>XMLTag</key>
	<array>
		<real>1</real>
		<real>0</real>
		<real>0.2</real>
		<real>1</real>
	</array>
	<key>XMLValue</key>
	<array>
		<real>0.933232307434082</real>
		<real>0.9895110130310059</real>
		<real>0.4775335490703583</real>
		<real>1</real>
	</array>
</dict>
</plist>
