/TeXForge.xcodeproj/*.mode*
/TeXForge.xcodeproj/*.pbxuser
/TeXForge.xcodeproj/project.xcworkspace/xcshareddata/
/TeXForge.xcodeproj/project.xcworkspace/xcuserdata/
/TeXForge.xcodeproj/xcuserdata/
/build/
